html, body {
  background-color: #efefef;
  color: #fff;
  font-family: 'Source Sans Pro', serif;
  margin: 0;
  padding: 0;
}

#defaultCanvas0 {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
